.tintuc {
  background-color: grey;
}
.Giới-Thiệu-KFC {
  background-color: white;
  font-size: 20px;
  width: 60%;
}
.Giới-Thiệu-KFC h1 {
  color: red;
  text-align: center;
}
.Giới-Thiệu-KFC img {
  width: 100%;
}
#logo img {
  width: 100px;
}
#header {
  background-color: red;
}
#header h1 {
  color: white;
}
#navbar {
  font-size: 20px;
}
#intro {
  background-color: brown;
  color: white;
}
#intro h1 {
  text-align: center;
  font-size: 40px;
}
#intro p {
  text-align: justify;
  font-size: 30px;
}
#intro p span {
  font-style: italic;
  font-weight: bold;
  color: black;
}
#intro img {
  width: 50%;
}
#development {
  background-color: brown;
  color: white;
}
#development h1 {
  text-align: center;
  font-size: 45px;
}
#development ul {
  font-size: 30px;
}
#develoment img {
  width: 50%;
}
#table {
  text-align: center;
}
#table table,
th,
td {
  border: 1px solid black;
}
#table table {
  width: 900px;
  height: 800px;
}
#table th {
  height: 60px;
}
#table .green-tea {
  background-image: url(./img/greentea.jpg);
  text-align: right;
}
#table .black-tea {
  background-image: url(./img/blacktea.jpg);
  text-align: center;
}
#table .oolong-tea {
  background-image: url(./img/olongtea.jpg);
  text-align: left;
}
#table .fruit-tea {
  background-image: url(./img/fruit.jpg);
  text-align: center;
}
#table .milk-tea {
  background-image: url(./img/milktea.png);
  text-align: center;
}
